<h1>About this Notebook</h1>

<p>This notebook is an attempt to make the humanities research process more open. I'm following the lead of notebooks by people like <a href="http://notebook.jasonheppler.org/notebook/">Jason Heppler</a>, <a href="http://wiki.wcaleb.rice.edu">W. Caleb McDaniel</a>, <a href="http://notebook.madsenlab.org/labnotebook.html">Mark Madsen</a>, <a href="https://electricarchaeology.ca/2015/10/06/an-elegant-open-notebook/">Shawn Graham</a>, and from the sciences, <a href="http://www.carlboettiger.info/lab-notebook.html">Carl Boettiger</a>.</p>

<p>As an instruction librarian who has researched a range of interdisciplinary subjects and taught composition courses, I feel that it'd benefit all of us—as we move between and blur the roles of enthusiasts, scholars, students, researchers, makers, writers, etc.—to be more open about processes. I've long claimed that libraries are the intellectual "maker space" of academies. An open research notebook like this is one way to perform that "maker" process clearly.</p>  

<p>If you've arrived here looking for my regular website: thanks and welcome! That site lives <a href="http://www.ryanpatrickrandall.com">over here</a>.</p>

